@import "custom";
@import "modal";

body {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;

  @include sm-and-down {
    font-size: 12px;
    line-height: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.vue-notification {
  border-left: none !important;
}